@import 'social_icons';
@import 'compass/typography/text/replacement';

footer {
  @include flexbox((
    display: flex,
    justify-content: space-between,
    align-items: center
  ));
  padding: 1.5em;
  border: solid 0px $fokchow-gold;
  border-top-width: 5px;

  .social {
    @include flexbox((
      display: flex
    ));
    margin: 0;
    padding: 0;
    .account {
      width: 20px;
      height: 20px;
      background-size: 20px 20px;
      margin-left: 10px;

      a {
        height: 100%;
        width: 100%;
        display: block;
        @include squish-text;
      }
    }
  }
}