@charset "utf-8";

@font-face {
  font-family: Futura;
  src: url(/fonts/Futura.ttc);
}

ul {
  list-style-type: none;
}

body {
  background: black;
  text-align: center;
  font-family: futura;
  margin: 10%;
  color: white;
}

h1 {
  color: rgba(0, 0, 0, .3);
  font-weight: bold;
  font-size: 32px;
  letter-spacing: -1px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

a {
  color: inherit;
  text-decoration: none;
}