.name .hot { color: #FF0322; }

.name .mild { color: #38D200; }

.name .ploughmans { color: #0BD167; }

.szechuan-chilli-oil .name {
  color: #E184F4;
}

.chilli-jam .name, .hot-chilli-jam .name, .ploughmans-chilli-jam .name {
  color: #FF8A00;
}

.hainanese-sauce .name, .mild-hainanese-sauce .name {
  color: #F8E71C;
}

.product {
  margin: 0;
  display: none;
}

.product .name {
  text-transform: uppercase;
}