%footer
  %address='434 St. Kilda Rd Melbourne 3000'
  %ul.social
    - data.social.each do |id, media|
      %li
        %a.name{:href => media.url, :target => '_blank', :class => [:account, id] }=media.title