---
title: Fok Chow - Sauces and Condiments - About
types: about
---

%h1= 'About Fok Chow'
.content
  %blockquote
    %p= 'Fok Chow has had a long and fruitful journey'

  %p
    The Fok Chow name has enjoyed a rich history.
    It originated in Macau where a fusion of Portuguese and Cantonese cuisine flavours the way of life.
    It took roots in Mauritius where it grew amongst the hearty Creole of French, Indian, African and Chinese food.
    Now it is part of the melting pot that is Melbourne, Australia.

  %p
    I love food. ... fresh ingredients... etc.
    Experimenting with flavours is a way of life for me.
    Fok chow is about bold, fun flavours.

  %p
    And now I want to share it with you. - Signed Martine