<% content_for(:title, product.id.titleize)%>

<div class="product <%= product.id %>">
  <h1 class="name"><%= product.title %></h1>
  <div class="description"><%= product.description %></div>
  <h3>Recipes and nutritional information coming soon!</h3>
</div>